# Baza danych
*.db
*.sqlite
*.sqlite3

# Sekrety
.env
.streamlit/secrets.toml

# Katalogi cache Pythona
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Katalogi środowiska wirtualnego
venv/
env/
ENV/

# Systemowe pliki
.DS_Store
Thumbs.db

# Logi
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
